mission100dermadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mission100dermadf"
		},
		"AzureSqlDatabaseDS_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabaseDS'"
		},
		"LS_Blob_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Blob'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://restapikeyvaultade.vault.azure.net/"
		},
		"AzureSqlDatabaseDS_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mission100adermsqlserver.database.windows.net"
		},
		"AzureSqlDatabaseDS_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "free-sql-db-8265899"
		},
		"AzureSqlDatabaseDS_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "raadmin"
		},
		"LS_Blob_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mission100adermstrgaccc.dfs.core.windows.net/"
		},
		"trg_customer_file_properties_PL_SCD2_RT_parameters_p_fileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"trg_customer_file_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/cbe7bd82-a4b0-4f95-be9d-036fd59408cc/resourceGroups/missin100adermrsg/providers/Microsoft.Storage/storageAccounts/mission100adermstrgaccc"
		},
		"LS_REST_Countries_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.restcountries.com/countries/"
		},
		"LS_ADLS_Raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://mission100adermstrgaccc.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DF_SCD1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcCustomer": {},
									"sinkDim": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-18T08:40:55Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_wm",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT last_run_ts AS wm FROM etl_control WHERE job_name='scd2_customer'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_src_customer2",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "DF_SCD2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "LKP_wm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD2",
								"type": "DataFlowReference",
								"parameters": {
									"p_watermark": {
										"value": "'@{formatDateTime(activity('LKP_wm').output.firstRow.wm, 'yyyy-MM-dd HH:mm:ss')}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"srcCustomer": {},
									"dimCustomer": {},
									"sinkInsert": {},
									"sinkExpire": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "UPD_wm",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "DF_SCD2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabaseDS",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "UPDATE etl_control SET last_run_ts = GETDATE() WHERE job_name='scd2_customer'"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-18T13:36:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_src_customer2')]",
				"[concat(variables('factoryId'), '/dataflows/DF_SCD2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD2_RT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_watermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "DF_SCD2_RT",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "LKP_watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD2_RT",
								"type": "DataFlowReference",
								"parameters": {
									"p_watermark": {
										"value": "'@{activity('LKP_watermark').output.firstRow.last_run_ts}'",
										"type": "Expression"
									},
									"p_effDate": {
										"value": "'@{formatDateTime(concat(substring(pipeline().parameters.p_fileName,15,4),'-',substring(pipeline().parameters.p_fileName,19,2),'-',substring(pipeline().parameters.p_fileName,21,2)),'yyyy-MM-dd')}'",
										"type": "Expression"
									},
									"p_fileName": {
										"value": "'@{pipeline().parameters.p_fileName}'",
										"type": "Expression"
									},
									"p_batchId": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"srcCsv": {
										"p_file": {
											"value": "@pipeline().parameters.p_fileName",
											"type": "Expression"
										}
									},
									"dimSrc": {},
									"sinkExpire": {},
									"sinkInsert": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "CP_archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DF_SCD2_RT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_csv_in",
								"type": "DatasetReference",
								"parameters": {
									"p_file": {
										"value": "@pipeline().parameters.p_fileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DEL_source",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CP_archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_csv_in",
								"type": "DatasetReference",
								"parameters": {
									"p_file": {
										"value": "@pipeline().parameters.p_fileName",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "CP_watermark",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DEL_source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT '@{formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss')}' AS last_run_ts,\n       '@{formatDateTime(concat(substring(pipeline().parameters.p_fileName,15,4),'-',substring(pipeline().parameters.p_fileName,19,2),'-',substring(pipeline().parameters.p_fileName,21,2)),'yyyy-MM-dd')}' AS last_effective_date",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_dim_rt",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_watermark",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "WEB_success",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CP_watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-115.westus.logic.azure.com:443/workflows/056053ac828741bdb448559fef12c58f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=tCfwCCTVdaW2HXW-y3mk6hVDt0qer0SsqOtb2jJ5LaU",
							"body": {
								"value": "{\n \"pipeline\": \"@{pipeline().Pipeline}\",\n \"runId\": \"@{pipeline().RunId}\",\n \"status\": \"SUCCESS\",\n \"file\": \"@{pipeline().parameters.p_fileName}\",\n \"message\": \"Inserted: @{activity('DF_SCD2_RT').output.runStatus.metrics.sinkInsert.rowsWritten} | Expired: @{activity('DF_SCD2_RT').output.runStatus.metrics.sinkExpire.rowsWritten}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WEB_fail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "DF_SCD2_RT",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-115.westus.logic.azure.com:443/workflows/056053ac828741bdb448559fef12c58f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=tCfwCCTVdaW2HXW-y3mk6hVDt0qer0SsqOtb2jJ5LaU",
							"body": {
								"value": "{\n \"pipeline\": \"@{pipeline().Pipeline}\",\n \"runId\": \"@{pipeline().RunId}\",\n \"status\": \"FAILED\",\n \"file\": \"@{pipeline().parameters.p_fileName}\",\n \"message\": \"@{activity('DF_SCD2_RT').error.message}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_fileName": {
						"type": "string",
						"defaultValue": "customer_delta_20260701.csv"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-20T20:06:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_watermark')]",
				"[concat(variables('factoryId'), '/dataflows/DF_SCD2_RT')]",
				"[concat(variables('factoryId'), '/datasets/DS_csv_in')]",
				"[concat(variables('factoryId'), '/datasets/DS_processed')]",
				"[concat(variables('factoryId'), '/datasets/DS_dim_rt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD3_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flowSCD3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD3_CSV",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"srcCsv": {},
									"dimT3": {},
									"sinkIns": {},
									"sinkUpd": {},
									"sinkT1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-18T20:43:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD3_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_csv_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "incoming",
						"fileSystem": "scd-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_csv_in')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Blob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": "incoming",
						"fileSystem": "scd-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dim_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "load_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dim_customer2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "customer_tier",
						"type": "varchar"
					},
					{
						"name": "hash_scd2",
						"type": "char"
					},
					{
						"name": "effective_start_date",
						"type": "date"
					},
					{
						"name": "effective_end_date",
						"type": "date"
					},
					{
						"name": "is_current",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dim_customer3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "current_city",
						"type": "varchar"
					},
					{
						"name": "previous_city",
						"type": "varchar"
					},
					{
						"name": "city_change_date",
						"type": "date"
					},
					{
						"name": "source_file",
						"type": "varchar"
					},
					{
						"name": "dw_update_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer3"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_dim_rt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_sk",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "customer_tier",
						"type": "varchar"
					},
					{
						"name": "hash_scd2",
						"type": "char"
					},
					{
						"name": "effective_start_date",
						"type": "date"
					},
					{
						"name": "effective_end_date",
						"type": "date"
					},
					{
						"name": "is_current",
						"type": "char"
					},
					{
						"name": "source_file",
						"type": "varchar"
					},
					{
						"name": "batch_id",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_customer_rt"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "processed",
						"fileSystem": "scd-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "updated_at",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_src_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "src_customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_src_customer2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseDS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "email",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "customer_tier",
						"type": "varchar"
					},
					{
						"name": "updated_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "src_customer2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabaseDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_watermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "watermark.csv",
						"folderPath": "control",
						"fileSystem": "scd-input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "last_run_ts",
						"type": "String"
					},
					{
						"name": "last_effective_date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabaseDS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabaseDS_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabaseDS_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabaseDS_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabaseDS_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Blob_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Blob_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_customer_file')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_SCD2_RT",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_fileName": "[parameters('trg_customer_file_properties_PL_SCD2_RT_parameters_p_fileName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/scd-input/blobs/incoming/customer_delta_",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trg_customer_file_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_SCD2_RT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_src_customer",
								"type": "DatasetReference"
							},
							"name": "srcCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_dim_customer",
								"type": "DatasetReference"
							},
							"name": "sinkDim"
						}
					],
					"transformations": [
						{
							"name": "drvAudit"
						},
						{
							"name": "alterUpsert"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> srcCustomer",
						"srcCustomer derive({load_date } = currentTimestamp()) ~> drvAudit",
						"drvAudit alterRow(upsertIf(true())) ~> alterUpsert",
						"alterUpsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          load_date as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['customer_id'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          load_date = {load_date }",
						"     )) ~> sinkDim"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_src_customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_dim_customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_src_customer2",
								"type": "DatasetReference"
							},
							"name": "srcCustomer"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_customer2",
								"type": "DatasetReference"
							},
							"name": "dimCustomer"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_dim_customer2",
								"type": "DatasetReference"
							},
							"name": "sinkInsert"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_customer2",
								"type": "DatasetReference"
							},
							"name": "sinkExpire"
						}
					],
					"transformations": [
						{
							"name": "winRank"
						},
						{
							"name": "fltLatest"
						},
						{
							"name": "drvHash"
						},
						{
							"name": "fltCurrent"
						},
						{
							"name": "lkpCurrent"
						},
						{
							"name": "drvAction",
							"description": "Creating/updating the columns 'customer_id, customer_name, email, city, customer_tier, updated_at, rn, hash_scd2, customer_sk, customer_id, customer_name, email, city, customer_tier, hash_scd2, effective_start_date, effective_end_date, is_current, action'"
						},
						{
							"name": "splitAction"
						},
						{
							"name": "unionNew"
						},
						{
							"name": "selInsertClean"
						},
						{
							"name": "selDimRename"
						},
						{
							"name": "drvVersion"
						},
						{
							"name": "selClean"
						},
						{
							"name": "alterInsert"
						},
						{
							"name": "selExpire"
						},
						{
							"name": "drvExpire"
						},
						{
							"name": "alterExpire"
						}
					],
					"scriptLines": [
						"parameters{",
						"     p_watermark as string ('1900-01-01')",
						"}",
						"source(output(",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          updated_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: (\"SELECT * FROM src_customer2 WHERE updated_at > '{$p_watermark}'\"),",
						"     format: 'query') ~> srcCustomer",
						"source(output(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimCustomer",
						"srcCustomer window(over(customer_id),",
						"     desc(updated_at, true),",
						"     rn = rowNumber()) ~> winRank",
						"winRank filter(rn == 1) ~> fltLatest",
						"fltLatest derive(hash_scd2 = md5(concat(iifNull(city,'~'),'|',iifNull(customer_tier,'~')))) ~> drvHash",
						"dimCustomer filter(is_current == 'Y') ~> fltCurrent",
						"drvHash, selDimRename lookup(customer_id == dim_customer_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lkpCurrent",
						"lkpCurrent derive(dim_action = iif(isNull(dim_customer_id), 'INSERT', iif(dim_hash_scd2 != hash_scd2, 'SCD2', 'NOCHANGE'))) ~> drvAction",
						"drvAction split(dim_action == 'INSERT',",
						"     dim_action == 'SCD2',",
						"     disjoint: false) ~> splitAction@(streamInsert, streamSCD2, streamNoChange)",
						"selInsertClean, splitAction@streamSCD2 union(byName: true)~> unionNew",
						"splitAction@streamInsert select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          updated_at,",
						"          rn,",
						"          hash_scd2,",
						"          dim_customer_sk,",
						"          dim_customer_id,",
						"          dim_customer_name,",
						"          dim_email,",
						"          dim_city,",
						"          dim_customer_tier,",
						"          dim_hash_scd2,",
						"          dim_effective_start_date,",
						"          dim_effective_end_date,",
						"          dim_is_current,",
						"          dim_action",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selInsertClean",
						"fltCurrent select(mapColumn(",
						"          dim_customer_sk = customer_sk,",
						"          dim_customer_id = customer_id,",
						"          dim_customer_name = customer_name,",
						"          dim_email = email,",
						"          dim_city = city,",
						"          dim_customer_tier = customer_tier,",
						"          dim_hash_scd2 = hash_scd2,",
						"          dim_effective_start_date = effective_start_date,",
						"          dim_effective_end_date = effective_end_date,",
						"          dim_is_current = is_current",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selDimRename",
						"unionNew derive(effective_start_date = currentDate(),",
						"          effective_end_date = toDate('9999-12-31'),",
						"          is_current = 'Y') ~> drvVersion",
						"drvVersion select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          updated_at,",
						"          hash_scd2,",
						"          effective_start_date,",
						"          effective_end_date,",
						"          is_current",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selClean",
						"selClean alterRow(insertIf(true())) ~> alterInsert",
						"splitAction@streamSCD2 select(mapColumn(",
						"          customer_sk = dim_customer_sk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selExpire",
						"selExpire derive(effective_end_date = addDays(currentDate(), -1),",
						"          is_current = 'N') ~> drvExpire",
						"drvExpire alterRow(updateIf(true())) ~> alterExpire",
						"alterInsert sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          hash_scd2,",
						"          effective_start_date,",
						"          effective_end_date,",
						"          is_current",
						"     )) ~> sinkInsert",
						"alterExpire sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:[('customer_sk')],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_sk,",
						"          effective_end_date,",
						"          is_current",
						"     )) ~> sinkExpire"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_src_customer2')]",
				"[concat(variables('factoryId'), '/datasets/DS_dim_customer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD2_RT')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_csv_in",
								"type": "DatasetReference"
							},
							"name": "srcCsv"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_rt",
								"type": "DatasetReference"
							},
							"name": "dimSrc"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_dim_rt",
								"type": "DatasetReference"
							},
							"name": "sinkExpire"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_rt",
								"type": "DatasetReference"
							},
							"name": "sinkInsert"
						}
					],
					"transformations": [
						{
							"name": "castTypes"
						},
						{
							"name": "fltWatermark"
						},
						{
							"name": "winRank"
						},
						{
							"name": "fltLatest"
						},
						{
							"name": "drvHash"
						},
						{
							"name": "fltCurrent"
						},
						{
							"name": "selDimRename"
						},
						{
							"name": "lkpCurrent"
						},
						{
							"name": "drvAction"
						},
						{
							"name": "splitAction"
						},
						{
							"name": "selExpire"
						},
						{
							"name": "drvExpire"
						},
						{
							"name": "alterExpire"
						},
						{
							"name": "selInsClean"
						},
						{
							"name": "selScd2Clean"
						},
						{
							"name": "unionNew"
						},
						{
							"name": "drvVersion"
						},
						{
							"name": "selClean"
						},
						{
							"name": "alterIns"
						}
					],
					"scriptLines": [
						"parameters{",
						"     p_watermark as string ('1900-01-01 00:00:00'),",
						"     p_effDate as string ('2026-01-01'),",
						"     p_fileName as string ('customer_delta_20260701.csv'),",
						"     p_batchId as string ('manual-debug')",
						"}",
						"source(output(",
						"          customer_id as short,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          updated_at as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> srcCsv",
						"source(output(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string,",
						"          source_file as string,",
						"          batch_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimSrc",
						"srcCsv cast(output(",
						"          customer_id as integer,",
						"          updated_at as timestamp 'yyyy-MM-dd HH:mm:ss'",
						"     ),",
						"     errors: true) ~> castTypes",
						"castTypes filter(updated_at > toTimestamp($p_watermark, 'yyyy-MM-dd HH:mm:ss')) ~> fltWatermark",
						"fltWatermark window(over(customer_id),",
						"     desc(updated_at, true),",
						"     rn = rowNumber()) ~> winRank",
						"winRank filter(rn == 1) ~> fltLatest",
						"fltLatest derive(hash_scd2 = md5(concat(iifNull(city, '~'), '|', iifNull(customer_tier, '~')))) ~> drvHash",
						"dimSrc filter(is_current == 'Y') ~> fltCurrent",
						"fltCurrent select(mapColumn(",
						"          dim_customer_sk = customer_sk,",
						"          dim_customer_id = customer_id,",
						"          dim_hash_scd2 = hash_scd2",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selDimRename",
						"drvHash, selDimRename lookup(customer_id == dim_customer_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lkpCurrent",
						"lkpCurrent derive(action = iif(isNull(dim_customer_id), 'INSERT', iif( dim_hash_scd2 != hash_scd2, 'SCD2','NOCHANGE'))) ~> drvAction",
						"drvAction split(action == 'INSERT',",
						"     action == 'SCD2',",
						"     disjoint: false) ~> splitAction@(streamInsert, streamSCD2, streamNoChange)",
						"splitAction@streamSCD2 select(mapColumn(",
						"          customer_sk = dim_customer_sk",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selExpire",
						"selExpire derive(effective_end_date = addDays(toDate($p_effDate), -1),",
						"          is_current = 'N') ~> drvExpire",
						"drvExpire alterRow(updateIf(true())) ~> alterExpire",
						"splitAction@streamInsert select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          updated_at,",
						"          hash_scd2,",
						"          action",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selInsClean",
						"splitAction@streamSCD2 select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          updated_at,",
						"          hash_scd2,",
						"          action",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selScd2Clean",
						"selInsClean, selScd2Clean union(byName: true)~> unionNew",
						"unionNew derive(effective_start_date = toDate($p_effDate),",
						"          effective_end_date = toDate('9999-12-31'),",
						"          is_current = 'Y',",
						"          source_file = $p_effDate,",
						"          batch_id = $p_batchId) ~> drvVersion",
						"drvVersion select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          updated_at,",
						"          hash_scd2,",
						"          effective_start_date,",
						"          effective_end_date,",
						"          is_current,",
						"          source_file,",
						"          batch_id",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selClean",
						"selClean alterRow(insertIf(true())) ~> alterIns",
						"alterExpire sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string,",
						"          source_file as string,",
						"          batch_id as string",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:[('customer_sk')],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 1,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_sk,",
						"          effective_end_date,",
						"          is_current",
						"     )) ~> sinkExpire",
						"alterIns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          customer_tier as string,",
						"          hash_scd2 as string,",
						"          effective_start_date as date,",
						"          effective_end_date as date,",
						"          is_current as string,",
						"          source_file as string,",
						"          batch_id as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     saveOrder: 2,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          city,",
						"          customer_tier,",
						"          hash_scd2,",
						"          effective_start_date,",
						"          effective_end_date,",
						"          is_current,",
						"          source_file,",
						"          batch_id",
						"     )) ~> sinkInsert"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_csv_in')]",
				"[concat(variables('factoryId'), '/datasets/DS_dim_rt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD3_CSV')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_csv_customers",
								"type": "DatasetReference"
							},
							"name": "srcCsv"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_customer3",
								"type": "DatasetReference"
							},
							"name": "dimT3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_dim_customer3",
								"type": "DatasetReference"
							},
							"name": "sinkIns"
						},
						{
							"dataset": {
								"referenceName": "DS_dim_customer3",
								"type": "DatasetReference"
							},
							"name": "sinkUpd",
							"rejectedDataLinkedService": {
								"referenceName": "LS_Blob",
								"type": "LinkedServiceReference"
							}
						},
						{
							"dataset": {
								"referenceName": "DS_dim_customer3",
								"type": "DatasetReference"
							},
							"name": "sinkT1"
						}
					],
					"transformations": [
						{
							"name": "castTypes"
						},
						{
							"name": "winRank"
						},
						{
							"name": "fltLatest"
						},
						{
							"name": "selDimRename"
						},
						{
							"name": "lkpDim"
						},
						{
							"name": "drvAction"
						},
						{
							"name": "splitAction"
						},
						{
							"name": "drvInit"
						},
						{
							"name": "selIns"
						},
						{
							"name": "alterIns"
						},
						{
							"name": "drvShift"
						},
						{
							"name": "selShift"
						},
						{
							"name": "alterUpd"
						},
						{
							"name": "selT1"
						},
						{
							"name": "derivedT1"
						},
						{
							"name": "alterT1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_id as string,",
						"          customer_name as string,",
						"          email as string,",
						"          city as string,",
						"          updated_at as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['incoming','processed'],",
						"     rowUrlColumn: 'source_file',",
						"     wildcardPaths:['incoming/customers_*.csv']) ~> srcCsv",
						"source(output(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          current_city as string,",
						"          previous_city as string,",
						"          city_change_date as date,",
						"          source_file as string,",
						"          dw_update_dt as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> dimT3",
						"srcCsv cast(output(",
						"          customer_id as integer,",
						"          updated_at as timestamp 'yyyy-MM-dd HH:mm:ss'",
						"     ),",
						"     errors: true) ~> castTypes",
						"castTypes window(over(customer_id),",
						"     asc(updated_at, true),",
						"     rn = rowNumber()) ~> winRank",
						"winRank filter(rn == 1) ~> fltLatest",
						"dimT3 select(mapColumn(",
						"          dim_customer_id = customer_id,",
						"          dim_email = email,",
						"          dim_current_city = current_city,",
						"          dim_previous_city = previous_city",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selDimRename",
						"fltLatest, selDimRename lookup(customer_id == dim_customer_id,",
						"     multiple: false,",
						"     pickup: 'any',",
						"     broadcast: 'auto')~> lkpDim",
						"lkpDim derive(action = iif(isNull(dim_customer_id), 'INSERT', iif(dim_current_city != city, 'SHIFT', iif(dim_email != email, 'T1', 'NOCHANGE')))) ~> drvAction",
						"drvAction split(action == 'INSERT',",
						"     action == 'SHIFT',",
						"     action == 'T1',",
						"     disjoint: false) ~> splitAction@(streamInsert, streamShift, streamT1, streamNoChange)",
						"splitAction@streamInsert derive(current_city = city,",
						"          previous_city = toString(null()),",
						"          dw_update_dt = currentTimestamp()) ~> drvInit",
						"drvInit select(mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          source_file,",
						"          action,",
						"          current_city,",
						"          previous_city,",
						"          dw_update_dt",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selIns",
						"selIns alterRow(insertIf(true())) ~> alterIns",
						"splitAction@streamShift derive(previous_city = dim_current_city,",
						"          current_city = city,",
						"          city_change_date = currentDate(),",
						"          dw_update_dt = currentTimestamp()) ~> drvShift",
						"drvShift select(mapColumn(",
						"          customer_id,",
						"          email,",
						"          dw_update_dt",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selShift",
						"selShift alterRow(updateIf(true())) ~> alterUpd",
						"splitAction@streamT1 select(mapColumn(",
						"          customer_id,",
						"          email",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selT1",
						"selT1 derive(dw_update_dt = currentTimestamp()) ~> derivedT1",
						"derivedT1 alterRow(updateIf(true())) ~> alterT1",
						"alterIns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          current_city as string,",
						"          previous_city as string,",
						"          city_change_date as date,",
						"          source_file as string,",
						"          dw_update_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_id,",
						"          customer_name,",
						"          email,",
						"          current_city,",
						"          previous_city,",
						"          source_file,",
						"          dw_update_dt",
						"     )) ~> sinkIns",
						"alterUpd sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          current_city as string,",
						"          previous_city as string,",
						"          city_change_date as date,",
						"          source_file as string,",
						"          dw_update_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['customer_id'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sinkUpd",
						"alterT1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          customer_sk as integer,",
						"          customer_id as integer,",
						"          customer_name as string,",
						"          email as string,",
						"          current_city as string,",
						"          previous_city as string,",
						"          city_change_date as date,",
						"          source_file as string,",
						"          dw_update_dt as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:false,",
						"     updateable:true,",
						"     upsertable:false,",
						"     keys:['customer_id'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          customer_id,",
						"          email,",
						"          dw_update_dt",
						"     )) ~> sinkT1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_csv_customers')]",
				"[concat(variables('factoryId'), '/datasets/DS_dim_customer3')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_Countries')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_Countries_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Raw_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_Countries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_Countries",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v5?limit=100&response_fields=names.common,names.official,codes.alpha_2,codes.alpha_3,capitals,region,subregion,population,area,coordinates,timezones,landlocked,flag.url_png&api-key=rc_live_89b0549fc51240de893ec9855404d51a"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_Countries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Countries_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Raw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "countries",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Countries_To_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CP_Countries_API_to_Parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['data']['objects'][0]['names']['common']"
										},
										"sink": {
											"name": "common",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['names']['official']"
										},
										"sink": {
											"name": "official",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['codes']['alpha_2']"
										},
										"sink": {
											"name": "alpha_2",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['codes']['alpha_3']"
										},
										"sink": {
											"name": "alpha_3",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['administrative']"
										},
										"sink": {
											"name": "administrative",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['constitutional']"
										},
										"sink": {
											"name": "constitutional",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['executive']"
										},
										"sink": {
											"name": "executive",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['judicial']"
										},
										"sink": {
											"name": "judicial",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['legislative']"
										},
										"sink": {
											"name": "legislative",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['attributes']['primary']"
										},
										"sink": {
											"name": "primary",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['coordinates']['lat']"
										},
										"sink": {
											"name": "data_objects'][0]['capitals'][0]['coordinates_lat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['coordinates']['lng']"
										},
										"sink": {
											"name": "data_objects'][0]['capitals'][0]['coordinates_lng",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['capitals'][0]['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['flag']['url_png']"
										},
										"sink": {
											"name": "url_png",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['region']"
										},
										"sink": {
											"name": "region",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['subregion']"
										},
										"sink": {
											"name": "subregion",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['area']['kilometers']"
										},
										"sink": {
											"name": "kilometers",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['area']['miles']"
										},
										"sink": {
											"name": "miles",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['coordinates']['lat']"
										},
										"sink": {
											"name": "data_objects'][0]['coordinates_lat",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['coordinates']['lng']"
										},
										"sink": {
											"name": "data_objects'][0]['coordinates_lng",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['landlocked']"
										},
										"sink": {
											"name": "landlocked",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['population']"
										},
										"sink": {
											"name": "population",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['timezones'][0]"
										},
										"sink": {
											"name": "items",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['data']['objects'][0]['_meta']['lastUpdatedTimestamp']"
										},
										"sink": {
											"name": "lastUpdatedTimestamp",
											"type": "DateTimeOffset"
										}
									}
								],
								"collectionReference": "$"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_REST_Countries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Countries_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@concat('countries_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.parquet')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_Countries')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Countries_Parquet')]"
			]
		}
	]
}